@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.main {
    background: rgb(25, 25, 25);
    color: white;
}

* {
    transition: all .3s;
}

    *::selection {
        background: #26b050;
        color: rgb(25, 25, 25);
    }

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.ergebnisTextArea {
    margin-top: 15px;
    border: none;
    width: 100%;
    height: 800px;
    background: #1DB954;
    color: #222326;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

.nav-item a:hover {
    transition: 0.7s;
}

.songTitel {
    color: #1db954 !important;
    font-size: 3rem;
    margin: 0;
    opacity: 0;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, .3);
    animation-fill-mode: forwards;
    animation-name: fadeIn;
    animation-duration: 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.artistsTitel {
    font-size: 1rem;
    margin: 0 0 0 5px;
    color: gray;
    font-style: italic;
    letter-spacing: 0.262em;
    line-height: 1;
    font-weight: 100;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
    animation-delay: 1s;
    animation-duration: 3s;
}

.kuenstlerBild {
    border-radius: 50%;
    filter: grayscale(100%);
    opacity: 0.5;
    box-shadow: 0 0 5px 4px rgba(0,0,0,0.5);
    aspect-ratio: 1/1;
    object-fit: cover;
}

    .kuenstlerBild:hover {
        filter: none;
        scale: 105%;
        box-shadow: 1px 1px 20px 12px rgba(0,0,0,0.5);
        opacity: 1;
    }

.spotifyButton {
    background: none;
    border: 2px solid rgba(50,50,50);
    color: white;
    border-radius: 0px;
    padding: 3px 15px;
    user-select: none;
    text-decoration: none;
}

    .spotifyButton:hover {
        border: 2px solid #1db954;
        text-decoration: none;
        color: white;
    }

    .spotifyButton:active {
        border: 2px solid #3dff81;
        box-shadow: 0 0 3px 3px black inset;
        transition: all .2s;
    }

    .spotifyButton:focus {
        outline: 0;
    }


.form-control {
    border-radius: 3px;
    border: 1px solid #1db95440;
}

.newRelease {
    float: left;
    margin: 10px;
    height: 200px;
    width: 200px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: 0.4s;
}

.newRelease:hover {
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 1);
    transition: 0.4s;
}

.newRelease:active {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}