@page "/releases"
@using SpotifyAPI.Web
@inject SpotifyClient _spotify
@inject NavigationManager _navManager

<MudText Typo="Typo.h4">Releases</MudText>

@if (NewReleases?.Albums.Items != null)
{
    <div>
        @foreach (var album in NewReleases.Albums.Items.OrderByDescending(a => a.ReleaseDate))
        {
            <img title="@album.Name" class="newRelease" src="@album.Images.FirstOrDefault()?.Url" alt="@album.Name" @onclick="() => ShowAlbum(album)" />
        }
    </div>
}


@code {
    public NewReleasesResponse NewReleases { get; set; }


    protected override async Task OnInitializedAsync()
    {
        NewReleases = await _spotify.Browse.GetNewReleases();
        StateHasChanged();
    }


    private void ShowAlbum(SimpleAlbum album)
    {
        _navManager.NavigateTo($"album/{album.Id}");
    }

}
